
<table id="headerTable">
  <tr>
    <td id="messagesTd"><%= render 'layouts/messages' %></td>
    <td id="siteTitleTd">Slucumber</td>
    <td id="loginTd">
      <% if client_signed_in? %>
        <% nick = current_client.nick.gsub('.' , ' ') %>
        <% if (current_client.is_admin) %>
          <span class="adminLogin"><%= nick %></span>
        <% else %>
          <%= nick %>
        <% end %>
        <%= link_to 'Settings' , '/settings' %>
        <%= link_to('Logout' , '/logout' , :method => :delete) %>
      <% else %>
        <%= link_to('Login' , '/login') %>
        <%= link_to 'Sign up' , '/signup' %>
      <% end %>
    </td>
  </tr>
</table>
