
<table id="headerTable">
  <tr>
    <td id="lHeaderTd"></td>
    <td id="siteTitleTd">Slucumber</td>
    <td id="loginTd">
      <% if client_signed_in? %>
        <%= current_client.nick.gsub('.' , ' ') %>
        <%= link_to 'Settings' , edit_client_registration_path %>
        <%= link_to('Logout' , destroy_client_session_path , :method => :delete) %>
      <% else %>
        <%= link_to('Login' , new_client_session_path) %>
        <%= link_to 'Sign up' , new_client_registration_path %>
      <% end %>
    </td>
  </tr>
</table>
